# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Production build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
bun-error.log*

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
# .vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Vite cache & local build artifacts
.vite/
.temp/
*.tsbuildinfo
