.DS_Store
Thumbs.db

node_modules/
.pnp
.pnp.js

dist/
.vite/
.temp/
*.tsbuildinfo

.env
.env.*
!.env.example

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
bun-error.log*
