{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",

  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["class", "className", "active-class", ".*Class"]
}
